<a href="https://colab.research.google.com/github/padiallo/hello/blob/main/Fifa23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://github.com/GokuMohandas/Made-With-ML/blob/4ad626098aca25db5628fe67895e738d5a5c2c2a/notebooks/03_Pandas.ipynb
#on peut rechercher diffÃ©rent codes ici par exemple les filtres ou # Histograms df["age"].hist()
#https://elitedatascience.com/python-cheat-sheet
#https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe

import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv(r"/content/joueurs.csv")  # r"C:\Users\bmd tech\anaconda3MAY2023\MesProjets\Statistiques\fifa23joueurs.csv"

#df.describe()
#df.values notre data frame est stockÃ©e dans un tableau
# Histograms
#dfage35=df[df["Age"]>35].head()
#dfage35['Age'].describe()
#df["Age"]

#je filtre sur les colonnes valeurs valeur et salaire (wage) afin de voir queles sont les joeurs qui sont meilleurs marchÃ©s

dfanalyse=pd.DataFrame(df, columns=["Name","age","values","Wage"])
dfanalyse

       Name  age  values  Wage
0       NaN   27     NaN   NaN
1       NaN   29     NaN   NaN
2       NaN   30     NaN   NaN
3       NaN   32     NaN   NaN
4       NaN   28     NaN   NaN
...     ...  ...     ...   ...
23965   NaN   27     NaN   NaN
23966   NaN   24     NaN   NaN
23967   NaN   23     NaN   NaN
23968   NaN   21     NaN   NaN
23969   NaN   20     NaN   NaN

[23970 rows x 4 columns]